:root {
  --back: rgb(238, 238, 238);
  --borders: rgb(243, 241, 239);
  --day-hover: rgb(236, 240, 241);
  --off-day-hover: rgb(218, 223, 225);
  --today: rgb(228, 241, 254);
  --green: rgb(4, 147, 114);
  --palegreen: rgb(200, 247, 197);
  --blue: rgb(37, 116, 169);
  --paleblue: rgb(228, 241, 254);
  --red: rgb(192, 57, 43);
  --orange: rgb(249, 105, 14);
  --yellow: rgb(244, 208, 63);
  --grey: rgb(108, 122, 137);
  --black: rgb(46, 49, 49);
}

.rbc-toolbar .rbc-toolbar-label {
  text-align: left;
  padding-left: 32px;
}

.rbc-calendar.race .rbc-toolbar {
  padding: 8px;
  margin: 0;
  background-color: var(--back);
}

.rbc-calendar.race .rbc-toolbar-label {
  font-weight: 700;
  /* font-size: 2em; */
  /* text-transform: uppercase; */
}

.rbc-calendar.race button.rbc-active,
.rbc-calendar.race .rbc-toolbar button:hover  {
  box-shadow: none;
  background-color: #ccc;
  cursor: pointer;
}
/* End Buttons and toolbar */

/* Month grid */
.rbc-month-row,
.rbc-header + .rbc-header {
  border-left: 0;
}
.rbc-month-view {
  border: 0;
}
.rbc-header {
  padding: 8px;
  border-bottom: 1px solid var(--borders);
}
.rbc-month-row + .rbc-month-row {
  border-top: 1px solid var(--borders);
}
.rbc-day-bg + .rbc-day-bg {
  border: 0;
}
.rbc-day-bg:hover {
  background-color: var(--day-hover);
  cursor: pointer;
}
.rbc-day-bg.rbc-off-range-bg:hover {
  background-color: var(--off-day-hover) !important;
}

.rbc-calendar.race {
  color: #262626;
}

.rbc-calendar.race .rbc-day-bg.rbc-off-range-bg[!.rbc-today] {
  background-color: var(--back);
}

.rbc-day-bg.rbc-today {
  background-color: var(--today);
  border-top: 3px solid var(--blue);
}
/* End Month grid */


/* Events */
.rbc-row-segment {
  padding: 0 4px 2px 4px;
}

.rbc-event {
  background-color: transparent;
  border-radius: 0;
}
.rbc-event:hover {
  background-color: var(--back);
}
.rbc-event.rbc-selected {
  background-color: var(--blue) !important;
  color: white !important;
}

.event-description {
  padding: 4px 0 2px 0;
  margin: 0;
}

/* Event types -> colours */
.rbc-event.lvrc {
  background-color: var(--palegreen);
  color: var(--black);
}
.rbc-event.bc {
  background-color: var(--paleblue);
  color: var(--black);
}
