body {
  margin: 0;
  padding: 15px;
  font-family: sans-serif;
  background-color: #e2e2e2;
}

.calendar-container {
  height: 75vh;
}

.rbc-time-view,
.rbc-agenda-view,
.rbc-month-view {
  background-color: white;
}

/* Event colours */
.outlook {
  background-color: darkslategray;
}
.eclipse {
  background-color: midnightblue;
}