html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: #f6f6f6;
}

.calendar-container {
  height: 100vh;
}

.rbc-time-view,
.rbc-agenda-view,
.rbc-month-view {
  background-color: white;
}

/* Event colours */
.outlook {
  background-color: darkslategray;
}
.eclipse {
  background-color: midnightblue;
}